.navbar {
  background-color: #181818;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    &__menu {
      display: flex;
      align-items: center;
      list-style: none;

      &__item {
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &__links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem;
          transition: all 0.3s ease;

          &:hover {
            color: white;
          }
        }

        // 🔥 Active Link Styling
        &__links.active-link {
          color: white;
          // font-weight: bold;
          border-bottom: 2px solid var(--yellow-theme-main-color);
        }
      }
    }
  }
}

.nav-icon {
  display: none;
  cursor: pointer;
  color: var(--yellow-theme-main-color);
  z-index: 1001;
}
@keyframes zoomLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.navbar__container__logo__img {
  animation: zoomLogo 3s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}


@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background-color: #181818;
    transition: left 0.3s ease-in-out;

    &.active {
      left: 0;
    }

    &__item {
      width: 100%;
      padding: 15px 0;
      text-align: center;

      &__links {
        width: 100%;
        font-size: 1.4rem;
        justify-content: center;
      }

      &__links.active-link {
        color: white;
        font-weight: bold;
        border-bottom: 2px solid var(--yellow-theme-main-color);
      }
    }
  }

  .nav-icon {
    display: block;
  }
} 