:root{
    --yellow-theme-bg-color : #1d1d1d;
    --yellow-theme-main-color : rgb(0, 195, 255);
    --yellow-theme-sub-text-color : white;
    --yellow-theme-nav-bg-color : #181818;
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth; 

}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--yellow-theme-bg-color);
    height: 100%;
}

#root{
    height: 100%;
}